.wmn{
	max-width: 80%;
	text-align: center;
}
.jkr{
	max-width: 90%;
}
.drgn{
	max-width: 90%;
}
.venom-spd{
	max-width: 100;
}
.demetra{
	text-align: center;
}
body {
	background-color: #FFCDAF;
}
.eikona{
	width: 250px;
}
.dem{
	text-align: center;
	background-color: #F592A0;
}
p{
	font-size: 25px;
}